.home {
  width: 1095.2px;
  //   width: 50%;
  height: 675px;

  background-color: #020e16cc;
  border-radius: 20px;
  overflow: auto;
  overflow-x: hidden;

  @media (max-width: 1500px) {
    width: 940px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .header {
    width: 1095.2px;
    border-radius: 20px 20px 0px 0px;
    height: 50px;
    background: #000000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1500px) {
      padding-right: 180px;
    }

    button {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      border: none;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      img {
        cursor: pointer;
      }

      .dateText {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .input_container {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      border: none;
      background: #dfdfdf;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        cursor: pointer;
      }

      input {
        outline: none;
        border: none;
        background: transparent;
        font-size: 16px;
      }
    }
  }

  .post_container {
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;

    @media (max-width: 1500px) {
      width: 965px;
      gap: 15px;
      justify-content: flex-start;
      margin-left: -15px;
    }

    .addPost {
      width: 288px;
      height: 340px;
      border-radius: 15px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7989a7;
      cursor: pointer;
    }
  }
}
