.home {
  width: 97vw;

  .homeContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .inputBorder {
      position: relative;
      width: 95%;
      // height: 232px;
      height: 140px;
      background: #292b2c;
      border-radius: 10px;
      border: 2px solid #474c52;
      padding: 20px;
      grid-column: span 2;

      button {
        display: flex;
        gap: 5px;
        width: 110px;
        height: 20px;
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 20px;
        padding: 14px;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
      }

      textarea {
        width: 100%;
        resize: none;
        background: transparent;
        outline: none;
        color: white;
        font-size: 15px;
        padding-top: 10px;
        padding-left: 0px;

        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 20px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        &::placeholder {
          color: #888;
          font-size: 17px;
          cursor: pointer;
        }
      }

      .line {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 70px;
        height: 1px;
        background: #474c52;
      }
      .downContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 20px;
        width: 95%;

        .icons {
          display: flex;
          gap: 15px;

          img {
            cursor: pointer;
          }
        }

        button {
          display: flex;
          justify-content: center;
          width: 120px;
          height: 40px;
          background: #1886d0;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px;
          text-align: center;
          align-items: center;
          font-size: 15px;
          cursor: pointer;

          &:hover {
            background: #2a9eeb;
          }
        }
      }
    }

    .postsWrapper {
      display: flex;
      justify-content: center;
      width: 95%;
      height: 700px;
      // max-height: max-content;
      overflow: auto;
      overflow-x: hidden;
      background: #292b2c;
      border-radius: 10px;
      border: 2px solid #474c52;
      padding-top: 22px;
      padding-bottom: 22px;
      grid-column: span 2;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .posts_section {
        display: flex;
        flex-direction: column;
        gap: 70px;

        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 20px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        &::placeholder {
          color: white;
        }
      }
    }

    .advertisingBlock {
      position: relative;
      width: 20vw;
      height: 297px;
      border-radius: 12px;
      cursor: pointer;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }
  }
}
