.wrapper {
  width: 70%;
  margin-left: 15%;
  height: 540px;
  border-radius: 20px;
  background: #203d5380;

  
  .chat {
    margin-top: 20px;
    position: absolute;
    overflow: hidden;
    width: 45%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
    overflow-x: hidden;
    height: 510px;
  
    /* Стили для скроллбара */
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: none;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  

}
