.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  height: 80px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-top: 20px;
  color: white;
  background-color: #1d1d1d;

  .header_content {
    position: relative;
    margin: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    .left {
      display: flex;
      align-items: center;

      .cartLink {
        color: white;
        margin-left: 180px;
        position: relative;
        cursor: pointer;

        .openLink {
          position: absolute;
          width: 160px;
          border-radius: 10px;
          background: #1886d0;
          top: -32px;
          left: -27px;
          z-index: 1;
        }

        h1 {
          font-size: 24px;
          font-weight: 700;
          z-index: 2;
          position: relative;
        }
      }
    }

    .right {
      .headerIcons {
        display: flex;
        gap: 20px;
        align-items: center;

        .icons_section {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background: #2a2a2a;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .find_Input {
          display: flex;
          gap: 15px;
          align-items: center;
          padding-left: 10px;
          width: 251px;
          height: 50px;
          border-radius: 10px;
          background: #2a2a2a;
          border: none;
          outline: none;
          font-size: 18px;
          font-weight: 500;
          box-shadow: 4px 4px 20px 0px #5a5a5a40 inset;

          img {
            cursor: pointer;
          }

          .inputIcon {
            cursor: pointer;
          }

          input {
            width: 70%;
            border: none;
            outline: none;
            font-size: 17px;
            font-weight: 500;
            background: transparent;
            font-weight: 500;
          }

          &::placeholder {
            color: #e5e7e9;
            font-weight: 500;
            font-size: 17px;
          }
        }

        .selectLanguage_section {
          padding: 5px 25px;
          width: 70px;
          height: 60px;
          background: #292b2c;
          position: absolute;
          text-align: center;
          border-radius: 10px;
          top: 33px;
          right: 15px;
          z-index: 3;
          box-shadow: 4px 4px 20px 0px #5a5a5a40 inset;

          hr {
            display: flex;
            justify-self: center;
            width: 50px;
          }

          span {
            color: white;
            font-size: 18px;
            font-weight: 700;

            &:hover {
              color: #1886d0;
            }

            &:active {
              color: #1886d0;
            }
          }
        }
      }
    }
  }
}
