.product {
  display: flex;
  column-gap: 20px;
  height: 100%;
  padding: 20px 20px 40px;
  background-color: #1b272f;
  border-radius: 10px;

  @media only screen and (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;
  }

  &__infoWrapper {
    display: flex;
    gap: 10px;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #2f2f2f;
    padding: 5px;

    @media only screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__imageWrapper {
    background-image: url('./mock/productBG.jpg');
    background-size: 140%;
    background-position: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    transition: all 0.5s;
    &:hover {
      background-size: 130%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
    img {
      width: 100%;
      height: 80%;
      position: relative;
      z-index: 2;
      transition: 0.5s all;
      &:hover {
        scale: 1.05;
      }
    }
  }

  &__imageButtonsWrapper {
    max-width: 360px;
    min-width: 150px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: #8b8989;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__descriptionWrapper {
    display: flex;
    column-gap: 10px;
  }

  &__category {
    border-right: 1px solid #dbdbdb;
    max-width: 170px;
  }

  &__wear {
    max-width: 200px;
  }

  &__category,
  &__wear {
    width: 100%;
    p {
      color: #c5bdbd;
      font-size: 14px;
      margin-bottom: 3px;
    }
  }

  &__buttonsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    button {
      flex-grow: 1;
    }

    @media only screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__buttonSalesman {
    background-color: #416ee9;
  }

  &__buttonCart {
    background-color: #2bab62;
  }

  &__buttonViewInGame {
    background-color: transparent;
  }

  button {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 7px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}
