.friendsBlock {
  margin-top: 0.5vw;
  margin-left: -6.5vw;
  width: 15vw;
  height: 25vw;
  border-radius: 20px;
  background: #1c1c1c;
  border-radius: 10px;
}

.items{
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  width: 15vw;
  height: 21vw;

  &::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }
  
  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.webTitle {
  display: flex;
  padding-left: 30px;
  padding-top: 15px;
  width: 100%;
  height: 58px;
  border-radius: 0px 10px 0px 10px;
  background: #1c1c1c;
  border: none;
  text-align: center;
  border: 1px solid #42b5ff;

  h2 {
    color: #d9d9d9;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}


.friendsValue {
  opacity: 0.5;
  margin-left: 7vw;
  color: #d9d9d9;
}

.friendsText {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
  color: #d9d9d9;
}

@media screen and (max-width: 1750px) {
    .friendsValue {
      margin-left: 100%;
    }
 }
  
  @media screen and (max-width: 1600px) {
    .friendsValue {
      margin-left: 80%;
    }
  
}
  
  @media screen and (max-width: 1500px) {
    .friendsValue {
      margin-left: 55%;
    }
  
  }
  