// .PostCard {
//   width: 288px;
//   height: 340px;
//   border-radius: 15px;
//   background: #2f3541;

//   .top_of_card {
//     background: #191919;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-left: 10px;
//     padding-right: 10px;
//     padding-bottom: 7px;
//     padding-top: 10px;
//     border-radius: 15px 15px 0px 0px;

//     .textsInfo {
//       display: flex;
//       align-items: center;
//       gap: 10px;

//       img {
//         cursor: pointer;
//       }

//       span {
//         color: #e5e7e9;
//         cursor: pointer;
//       }

//       p {
//         color: #e5e7e9;
//         font-size: 12px;
//         cursor: pointer;
//       }
//     }

//     .subscribe_button {
//       width: 100px;
//       height: 20px;
//       border-radius: 5px;
//       border: none;
//       background: #474b4f;
//       color: white;
//       cursor: pointer;
//       font-size: 14px;

//       &:hover {
//         background: #666b70;
//       }
//     }
//   }

//   .content {
//     margin-top: 5px;

//     .postImage {
//       width: 266.25px;
//       height: 150px;
//       border-radius: 10px;
//       cursor: pointer;
//     }

//     h2 {
//       cursor: pointer;
//       margin-left: 15px;
//       font-size: 24px;
//     }

//     .icons {
//       display: flex;
//       align-items: center;
//       width: 239px;
//       height: 24px;
//       margin-top: 20px;
//       margin-left: 15px;
//       gap: 10px;

//       span {
//         font-weight: 300;
//         font-size: 16px;
//         cursor: pointer;
//       }

//       img {
//         cursor: pointer;
//       }
//     }
//   }
// }

.post_card {
  width: 600px;
  height: 459px;
  padding: 65px;

  .high_content {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;

    .avatar {
      width: 52px;
      height: 52px;
      position: absolute;
      top: 40px;
      margin-left: 35px;
      cursor: pointer;
    }

    .infoTexts {
      display: flex;
      gap: 5px;
      align-items: center;
      white-space: nowrap;
      margin-top: -20px;

      .dot {
        color: #8a98a4;
        margin-top: -8px;
      }

      span {
        font-size: 16px;
        cursor: pointer;
      }

      .userName {
        color: white;
      }

      .greyText {
        color: #8a98a4;
      }
    }

    .desc {
      width: 700px;
    }

    .postImage {
      width: 700px;
      height: 350px;
      cursor: pointer;
      border-radius: 14px;
      margin-top: 25px;
    }

    .postIcons {
      display: flex;
      gap: 50px;
      align-items: center;
      margin-top: 15px;

      .comments {
        display: flex;
        align-items: center;
        gap: 3px;

        span {
          color: #8a98a4;
        }
      }

      .share {
        display: flex;
        align-items: center;
        gap: 3px;

        span {
          color: #8a98a4;
        }
      }

      .like {
        display: flex;
        align-items: center;
        gap: 3px;

        span {
          color: #8a98a4;
        }
      }
    }
  }
}
