.postCard {
  max-width: 700px;
  max-height: 600px;

  .highContent {
    display: flex;
    position: relative;
    gap: 25px;
    margin-bottom: 15px;

    .avatar {
      width: 52px;
      height: 52px;
      cursor: pointer;
      position: absolute;
      left: -75px;
      top: 10px;

      @media (max-width: 1330px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 1.58px;

      .userText {
        display: flex;
        gap: 5px;

        .userName {
          font-weight: 700;
        }

        .greyText {
          color: #8a98a4;
          font-weight: 400;
        }

        .createdAt {
          color: #8a98a4;
          font-weight: 400;
        }

        .dot {
          // точка
          margin-top: -5px;
          color: #8a98a4;
        }
      }

      .desc {
        max-height: 150px;
        overflow-y: auto;
        font-weight: 400;

        &::-webkit-scrollbar {
          width: 10px;
          height: 15px;
        }

        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 20px;
          cursor: pointer;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
    }
  }

  .postImage {
    margin-bottom: 15px;
    img {
      width: 700px;
      height: 335px;
      border-radius: 14px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    gap: 40px;
    align-items: center;

    .icon {
      display: flex;
      gap: 2px;
      align-items: center;

      span {
        color: #8a98a4;
      }
    }
  }
}
