.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  color: white;

  .profileSection {
    width: 320px;
    height: 140px;
    background-color: #40505e;
    border-radius: 16px;
    margin-left: 35px;
    border: 2px solid black;
    display: flex;
    position: relative;

    .avatar {
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .name_email_content {
      display: flex;
      align-items: center;
      width: 220px;
      height: 18px;
      background: #1a1a1a;
      border-radius: 10px;
      border: 0.5px solid #e5e7e9;
      padding: 10px;
      margin-top: 10px;
      position: relative;

      h3 {
        font-size: 12px;
        white-space: nowrap;
        cursor: pointer;
        flex: 1;
      }

      .line {
        width: 1px;
        background-color: white;
        height: 100%;
        position: absolute;
        left: 100px;
        cursor: pointer;
      }

      p {
        font-size: 10px;
        white-space: nowrap;
        position: absolute;
        right: 30px;
        cursor: pointer;
      }
    }

    .user_info {
      display: flex;
      margin-left: 10px;
      margin-top: 5px;
      align-items: center;
      position: relative;

      p {
        font-size: 11px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 400;
      }

      .friends_count {
        margin-left: 57px;
        position: absolute;
        right: 16px;
        cursor: pointer;
      }
    }

    .desc {
      margin-left: 10px;
      margin-top: 5px;
      max-width: 205px;
      p {
        font-size: 10px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 400;
      }
    }

    .downContnet {
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      align-items: center;
      background-color: black;
      width: 318px;
      height: 30px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      .links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;

        h3 {
          font-size: 10px;
          cursor: pointer;
          font-weight: 500;
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-left: 20px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  .middleSide {
    position: relative;
    width: 320px;
    height: 370px;
    // height: 50vh;
    // height: 70%;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(0deg, #04131e80 0%, #203d5380 100%);
    margin-left: 35px;
    border-radius: 15px;
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid black;

    .productMarketSidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      &__titleTradeWrapper {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        background-color: #2f2f2f;
      }
      &__title {
        color: #d9d9d9;
      }
      &__trade {
        display: flex;
        align-items: center;
        column-gap: 3px;
        font-size: 14px;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.select_wrapper {
  height: 300px;
  overflow: auto;
  width: 100%;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .select_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    margin-top: 15px;

    .selectPole {
      position: relative;
      width: 300px;
      height: 24px;
      background-color: #131d2c;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;

      p {
        color: white;
      }

      &:hover {
        transition: 300ms;
        background-color: #22334e;
      }

      img {
        position: absolute;
        right: 10px;
      }
    }
  }
  .menuBorder {
    width: 300px;
    height: 100%;
    background: #131d2c;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;

    .menuItem {
      width: 280px;
      height: 20px;
      border-radius: 20px;
      background: #243766;
      border: none;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
    }

    .menuGunBorder {
      width: 280px;
      height: 100%;
      background: #243766;
      border-radius: 5px 5px 5px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 0px;

      .menuGunItem {
        width: 260px;
        height: 20px;
        border-radius: 20px;
        background: #5d6eab;
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        gap: 10px;

        &:hover {
          transition: 300ms;
          background: rgb(71, 110, 207);
        }
      }
    }
  }
}

.menuContainer {
  overflow: auto;
  height: 200px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.float {
  position: absolute;
  bottom: 10px;
  width: 300px;
  height: 30px;
  background-color: #131d2c;
  border-radius: 5px;

  .float_content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 7px;

    .valueText {
      width: 50px;
      height: 19px;
      border-radius: 5px;
      background: #0a111b;
      display: flex;
      justify-content: center;
      cursor: pointer;
      margin-left: 10px;
    }

    h2 {
      font-size: 15px;
      cursor: pointer;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: auto;

  .steam_btn {
    width: 260px;
    height: 60px;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    color: white;
    gap: 10px;
    cursor: pointer;

    &:hover {
      transition: 1s;
      background: #2a2a2a;
    }
  }
}

// for chat
.chatSelect {
  .findUser {
    width: 320px;
    height: 40px;
    background: #232a30;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;

    input {
      outline: none;
      border: none;
      background: transparent;
      color: white;
      font-size: 16px;

      &::placeholder {
        color: white;
        font-size: 16px;
      }
    }
  }
}

.downLine {
  position: absolute;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  height: 1px;
}

// home sideBar
.home_sideBar {
  margin-top: 20px;
  margin-left: -27px;

  .findPost_input {
    position: relative;

    .searchIcon {
      position: absolute;
      left: 2px;
      top: 5px;
    }

    input {
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
      background: transparent;
      outline: none;
      border-radius: 7px;
      height: 35px;
      padding-left: 35px;
      font-size: 15px;
    }
  }

  .routes_section {
    // padding-bottom: 37px;

    .route {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-bottom: 18px;
    }
  }
}
