.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  color: white;

  .profileSection {
    width: 320px;
    height: 140px;
    background-color: #40505e;
    border-radius: 16px;
    margin-left: 35px;
    border: 2px solid black;
    display: flex;
    position: relative;

    .avatar {
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
    }

    .name_email_content {
      display: flex;
      align-items: center;
      width: 220px;
      height: 18px;
      background: #1a1a1a;
      border-radius: 10px;
      border: 0.5px solid #e5e7e9;
      padding: 10px;
      margin-top: 10px;
      position: relative;

      h3 {
        font-size: 12px;
        white-space: nowrap;
        cursor: pointer;
      }

      .line {
        width: 1px;
        background-color: white;
        height: 100%;
        position: absolute;
        left: 135px;
        cursor: pointer;
      }

      p {
        font-size: 10px;
        white-space: nowrap;
        position: absolute;
        right: 28px;
        cursor: pointer;
      }
    }

    .user_info {
      display: flex;
      margin-left: 10px;
      margin-top: 5px;
      align-items: center;
      position: relative;

      p {
        font-size: 11px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 400;
      }

      .friends_count {
        margin-left: 57px;
        position: absolute;
        right: 16px;
        cursor: pointer;
      }
    }

    .desc {
      margin-left: 10px;
      margin-top: 5px;
      max-width: 205px;
      p {
        font-size: 10px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 400;
      }
    }

    .downContnet {
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      align-items: center;
      background-color: black;
      width: 318px;
      height: 30px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      .links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;

        h3 {
          font-size: 10px;
          cursor: pointer;
          font-weight: 500;
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-left: 40px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  .middleSide {
    position: relative;
    width: 320px;
    height: 700px;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(0deg, #04131e80 0%, #203d5380 100%);
    margin-left: 35px;
    border-radius: 15px;
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid black;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.select_section {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
  margin-left: -40px;
}

.selectPole {
  position: relative;
  width: 300px;
  height: 24px;
  background-color: #131d2c;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  p {
    color: white;
  }

  &:hover {
    transition: 1s;
    background-color: #22334e;
  }

  img {
    position: absolute;
    right: 10px;
  }
}

.menuContainer {
  overflow: auto;
  height: 200px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.float {
  position: absolute;
  bottom: 10px;
  width: 300px;
  height: 30px;
  background-color: #131d2c;
  border-radius: 5px;

  .float_content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

    .valueText {
      width: 50px;
      height: 19px;
      border-radius: 5px;
      background: #0a111b;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    h2 {
      font-size: 16px;
      cursor: pointer;
    }
  }
}
