.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(320px, 0fr) 2fr;
  grid-template-rows: minmax(40px, 80px) minmax(80px, 130px) auto auto 30px;
  grid-row-gap: 20px;
  grid-column-gap: 74px;
  filter: brightness(1.2); /* Увеличение яркости на 20% */
  object-fit: cover; /* Покрытие всего контейнера */
  background-blend-mode: lighten; /* Усиление яркости */
  // background-color: rgba(0, 0, 0, 0.5);
  // background-blend-mode: darken;
}

.main {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
  color: white;
  // display: flex;
}

.mainWrapper {
  grid-row: 2 / 4;
}
