.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 2fr;
  grid-template-rows: minmax(40px, 80px) minmax(80px, 130px) 1fr minmax(60px, 100px);
  grid-row-gap: 20px;
  grid-column-gap: 74px;

  background-color: rgba(240, 167, 167, 0.2);
  background-blend-mode: darken;
}

.main {
  color: white;
}

.mainWrapper {
  grid-row: 2 / 4;
}
