.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  margin-right: 39px;
  margin-left: 10px;
  color: white;

  .middleSide {
    position: relative;
    width: 320px;
    height: 420px;
    // height: 50vh;
    // height: 70%;
    overflow: auto;
    overflow-x: hidden;
    background: #3a4340;
    margin-left: 25px;
    border-radius: 0px 10px 15px 15px;
    margin-top: 135px;
    border: 1px solid black;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

// home sideBar
.home_sideBar {
  .webTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    border-radius: 0px 10px 0px 10px;
    background: #1c1c1c;
    border: none;
    text-align: center;
    border: 1px solid #42b5ff;

    h2 {
      color: #42b5ff;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .router_section {
    background-color: #232927;
    border-radius: 10px;
    width: 290px;
    height: 260px;
    margin: 10px auto 0 auto;
    padding: 20px;

    .links {
      .link {
        display: flex;
        gap: 20px;
        align-items: center;
        text-transform: uppercase;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 5px 10px;
        cursor: pointer;
        transition: 400ms all ease-in;
        font-weight: 500;

        &:hover {
          background: #3a4340;
          color: #42b5ff;
        }
      }
    }
  }
}

.downFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: black;
  position: absolute;
  background: #1c1c1c;
  bottom: 0;

  h1 {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
}

@media screen and (max-width: 1600px) {
  .sidebar {
    height: 300px;
  }
}
