.sidebar {
  color: #d9d9d9;

  .middleSide {
    position: relative;
    width: 275px;
    // overflow-y: scroll;
    // height: 388px;
    height: 338px;
    background: #3a4340;
    border-radius: 0px 10px 15px 15px;
    border: 1px solid black;

    @media (max-width: 1366px) and (max-height: 768px) {
      height: 280px;
    }

    @media (max-width: 1366px) and (max-height: 685px) {
      height: 250px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

// home sideBar
.home_sideBar {
  .webTitle {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 100%;
    height: 58px;
    border-radius: 0px 10px 0px 10px;
    background: #1c1c1c;
    border: none;
    text-align: center;
    margin-bottom: 10px;

    &:hover {
      border: 1px solid #42b5ff;

      h2 {
        color: #42b5ff;
      }
    }

    h2 {
      color: white;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .router_section {
    width: 255px;
    height: 260px;
    background-color: #232927;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    padding: 20px;
    box-shadow: 4px 4px 20px 0px #04040440 inset;

    @media (max-width: 1366px) and (max-height: 768px) {
      height: 205px;
    }

    @media (max-width: 1366px) and (max-height: 685px) {
      height: 175px;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: none;
        height: 110px;
      }

      &::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        border-radius: 20px;
        cursor: pointer;
      }
    }

    .links {
      .link {
        display: flex;
        gap: 20px;
        align-items: center;
        text-transform: uppercase;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 5px 10px;
        cursor: pointer;
        transition: 400ms all ease-in;
        font-weight: 500;

        @media (max-width: 1366px) and (max-height: 768px) {
          margin-bottom: 5px;
        }

        @media (max-width: 1366px) and (max-height: 685px) {
          margin-bottom: 15px;
        }

        &:hover {
          background: #3a4340;
          color: #42b5ff;
        }
      }
    }
  }
}

.titleBorder {
  width: 100%;
  height: 58px;
  padding: 1px;
  background: #474c52;
  display: flex;
  justify-content: center;
  align-items: center;
  .filterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    margin: 0;
    color: #d9d9d9;

    &:active {
      background: #0f629a;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
    }
    &__active {
      border-radius: 0 10px;
      color: #42b5ff;
    }
  }
  &__active {
    border-radius: 0 10px;
    background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
  }
  &:hover {
    background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
  }
}

@media screen and (max-width: 1600px) {
  .sidebar {
    height: 300px;
  }
}

.filterContainer {
  display: flex;
  flex-direction: column;
  background: #3a4340;
}

.filters {
  display: none;
}

.filters__active {
  flex-direction: column;
  display: flex;
  padding: 10px;
  height: auto;
}

.filterBox {
  box-shadow: inset 4px 4px 20px 0 rgba(4, 4, 4, 0.25);
  background: #232927;
  border-radius: 10px;
  padding: 20px 10px;
  width: 100%;
  max-height: 370px;
  overflow: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    background: none;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.bigInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.priceInput {
  border-radius: 10px;
  width: 215px;
  height: 39px;
  padding: 10;

  &::placeholder {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    padding-left: 10px;
    color: #d9d9d9;
  }
}

.priceInput:focus::placeholder {
  color: transparent;
}

.antInputNumber {
  border: 1px solid #3a4340;
  border-radius: 5px;
  width: 79px;
  height: 27px;
}

.sliderInputsBox {
  display: flex;
  margin-bottom: 12px;

  b {
    margin: 0 10px;
  }
}

.sliderBox {
  margin-bottom: 20px;
  padding: 0 5px;
}

.filterInput {
  color: #d9d9d9;
  background: #1c1c1c;

  &:hover {
    background: #3a4340;
  }

  &:focus {
    background: #1c1c1c;
    border: 1px solid #0f629a;
  }
}

.deliveryInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}

.customCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input:checked + .checkbox {
    border: 1px solid #0f629a;

    .checkedIcon {
      display: block;
    }
  }
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #3a4340;
  background: #181819;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.hiddenCheckbox {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox .checkedIcon {
  max-width: 67%;
  height: auto;
  display: none;
}

.colorList {
  border-radius: 10px;
  width: 215px;
  height: 39px;
  background: #3a4340;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;

  .btnName {
    font-size: 18px;
  }

  .plusSymbol {
    font-size: 24px;
  }
}
