.friendItem{
  color: white;
  min-width: 100px;
  flex: 0 0 auto; 
  margin: 0 0.5vw;
}

.avatar{
  height: 3vw;
  width: 3vw;
  text-align: center;
  margin-left: 0.4vw;
}

.text{
  font-size: 0.9vw;
}