* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bgWrap {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

:where(.css-dev-only-do-not-override-1qfezbu).ant-menu-inline.ant-menu-root .ant-menu-item,
:where(.css-dev-only-do-not-override-1qfezbu).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title {
  height: 24px;
}

:where(.css-dev-only-do-not-override-1qfezbu).ant-menu-inline
  .ant-menu-sub.ant-menu-inline
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: 24px;
}
