.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #131d2c;
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid black;
  &__float {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  &__image {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50px;
  }
  &__online {
    border-radius: 50px;
    height: 12px;
    width: 12px;
    background-color: #bebebe;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    &_active {
      background-color: #acff42;
    }
  }
  &__imageFloatWrapper {
    display: flex;
    column-gap: 10px;
  }
  &__cartWrapper {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
  &__buttonCart {
    background-color: #2f2f2f;
    padding: 4px 4px 1px 4px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}
