.friendItem{
  margin-left: 0.5vw;
  text-align: center;
  color: white;
  display:inline-block;
  width: 16vw;
}

.item {
  display: flex;
  align-items: center;
}

.item div {
  margin-top: 2vw;
  padding-left: 1vw; 
}

.item div:last-child {
  margin-right: 0; 
}

.avatar{
  height: 3vw;
  width: 3vw;
}

.text{
  font-size: 1vw;
}