.message {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-color: #2e3842;
  padding: 10px;

  //   если ты отправляешь то тогда это
  &.own {
    margin-left: 50%;
  }

  span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #8497a6;
    font-size: 12px;
  }
}
