.outerWrapper {
  color: white;
  overflow: hidden;
  height: max-content;
  margin-right: 35px;
  display: flex;
  gap: 22px;

  .webTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    border-radius: 0px 10px 0px 10px;
    background: #1c1c1c;
    border: none;
    text-align: center;
    border: 1px solid #42b5ff;

    h2 {
      color: #42b5ff;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  // arrows
  .leftArrow {
    position: absolute;
    top: 85px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #1886d0;
    border-radius: 50%;

    img {
      width: 9px;
      height: 9px;
    }

    &:hover {
      background: #1886d0;
      border: 1px solid #d9d9d9;
    }
  }

  .rightArrow {
    position: absolute;
    top: 85px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #1886d0;
    border-radius: 50%;

    img {
      width: 9px;
      height: 9px;
    }

    &:hover {
      background: #1886d0;
      border: 1px solid #d9d9d9;
    }
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bigNews {
      margin-left: 60px;
      position: relative;
      width: 45vw;
      height: 200px;
      background-color: #474c52;
      border-radius: 10px;
      margin-bottom: 12px;
    }

  }
}
