.mainContainer {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.cartBox {
  border-radius: 0 10px;
  width: 177px;
  height: 165px;
  display: flex;
  flex-direction: column;
  background:#3A4340;
}

.balance {
  border-radius: 0 10px;
  width: 100%;
  height: 60px;
  background: #1C1C1C;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
  .balanceTitle {
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
    }
    .balanceCount {
      font-weight: normal;
      font-size: 14px;
      display: flex;
      align-items:end;
      span {
        padding-top: 3px;
        margin-right: 13px;
      }
      img {
        margin-bottom: 3px;
      }
    }
  }
}

.currencyIcon {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background: #292B2C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cartButtons {
  display: flex;
  flex-direction: column;
  align-items: start;
  .btnBorder {
    height: 27px;
    padding: 1px;
    margin-bottom: 10px;
    background: #474C52;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    .cartBtn {
      background: #1C1C1C;
      border-radius: 20px;
      padding: 3px 10px;
      height: 100%;
      font-weight: 500;
      font-size: 14px;
      color: #D9D9D9;
      display: inline;
      &:active {
        background: #0F629A;
      }
    }
    &:hover {
      background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
    }
  }
}

.cartIcon {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background: #292B2C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.navBox {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
}

.marketNav {
  
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.linkBorder {
  padding: 20px;
  width: auto;

  padding: 1px;
  background: #474C52;
  border-radius: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .navItem {
    color: #D9D9D9;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    padding: 19px;
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    border-radius: 0 10px;
    &:active {
      background: #0F629A;
    }
    &__active {
      box-shadow: 0 5px 20px 0 rgba(37, 36, 36, 0.6);
      border-radius: 0 10px;
      color: #1886D0;
    }
  }
  &:hover {
    background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
  }
  &__active {
    background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
  }
}


