.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 73vw;
    max-height: 65vh;
    background-color:rgba(4, 19, 30, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 70px 20px 30px;
    overflow-y: scroll;
}

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 200px;
        justify-content: space-between;
        background-color: rgba(18, 18, 18, 1);
        border: 1px solid #000;
        border-radius: 5px;
        bottom: 0;
        z-index: 1;

        .titleCard {
            position: relative;
            flex: 85%;
            display: flex;
            align-items: center;
            z-index: 1;
            

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                
            }
            
            .title {
                z-index: 1;
                position: absolute;
                bottom: 0;
                font-size: 14px;
                padding:  20px 10px;
                line-height: 16.8px;
            }
          }
        
        .botCard {
            flex: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .seller {
                display: flex;
                justify-content:flex-start;
                align-items: center;
                border-radius: 2px;
                background-color: rgba(47, 47, 47, 1);
                width: 60px;
            }

            .count {
                img {
                    float: left;
                    width: 20px;
                    height: 20px;
                    
                }
                p {
                    font-size: 12px;
                }
            }

            .price p {
                color: #fff;
                border-radius: 2px;
                background-color: rgba(43, 94, 25, 1);
              }

            .link {
                display: flex;
                border-left: 1px solid rgba(0, 0, 0, 1);  
            }
          }

        
            

    

    
    

    
}


.container::-webkit-scrollbar {
    width: 12px;
    padding: 1px;
}

.container::-webkit-scrollbar-track {
    background-color: rgba(118, 117, 117, 1);
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    width: 8px;
    background: #888;
    border-radius: 20px;
    background-color: rgba(19, 37, 51, 1);
    cursor: pointer;
}


