<<<<<<< HEAD
.webTitle {
  padding-left: 15px;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  border-radius: 0px 10px 0px 10px;
  background: #1c1c1c;
  border: none;
  border: 1px solid #42b5ff;
  color: white;

  h2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

.balanceCard {
  margin-left: -1.7vw;
  position: relative;
  width: 10vw;
  height: 10vw;
  background: #3a4340;
  border-radius: 10px;
  margin-bottom: 12px;
}
=======
.cartBox {
  margin-left: -1.7vw;
  border-radius: 0 10px;
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  background:#3A4340;
}

.balance {
  border-radius: 0 10px;
  width: 100%;
  height: 3vw;
  background: #1C1C1C;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .balanceTitle {
    padding-top: 0.2vw;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      text-transform: uppercase;
      font-size: 1vw;
      font-weight: 700;
    }
    .balanceCount {
      font-weight: normal;
      font-size: 1vw;
      display: flex;
      align-items:end;
      span {
        padding-top: 3px;
        margin-right: 0.5vw;
      }
      img {
        height: 1vw;
        margin-bottom: 3px;
      }
    }
  }
}

.currencyIcon {
  border-radius: 10px;
  width: 2vw;
  height: 2vw;
  background: #292B2C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cartButtons {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  .btnBorder {
    height: 1.5vw;
    padding: 1px;
    margin-bottom: 10px;
    background: #474C52;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    .cartBtn {
      background: #1C1C1C;
      border-radius: 20px;
      padding: 3px 10px;
      height: 100%;
      font-weight: 500;
      font-size: 0.7vw;
      color: #D9D9D9;
      display: inline;
      &:active {
        background: #0F629A;
      }
    }
    &:hover {
      background: linear-gradient(90deg, rgba(24, 134, 208, 1) 0%, rgba(12, 68, 106, 1) 100%);
    }
  }
}

.cartIcon {
  border-radius: 10px;
  width: 2vw;
  height: 2vw;
  background: #292B2C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
>>>>>>> 1bca22817f2e33aa298a2b4b7ceb9ab701fbcbfa
