.carousel {
  color: white;
  background-color: rgba(40, 46, 51, 0.5);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-left: -86px;
  z-index: 1;
  position: relative;
}

.smoke {
  background-image: url("../../../public/smoke.png");
  animation: animateClouds 30s linear infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &_delayed{
    animation-delay: 15s;
    transform: translateX(-100%);
  }
}


.slide {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 5px;
  z-index: 2;
  
}

.innerCarouselContainer {
  transition: 0.3s cubic-bezier(0.78, 0, 0.6, 0.91);
  display: flex;
  z-index: 2;
  
    

  &_disabledTransition {
    transition: none;
    z-index: 2;
  }

  &_loading {
    align-items: center;
    justify-content: center;
    background-image: "../../../public/smoke.png";
    position: absolute;
    filter: blur(10px);
    z-index: 2;
  }
}

.slideControl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 0 0.25rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  z-index: 2;

  &:hover {
    filter: brightness(1.3);
    background-color: #737373;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    z-index: 2;
  }

  &_reversed {
    transform: rotateZ(180deg);
    z-index: 2;
  }
}

.carouselContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 0 0.5rem;
  background: #5D6D7E;
  z-index: 2;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-width: 214px;
  z-index: 2;
}

.text {
  font-size: 16px;

  @media (max-width: 1570px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.title {
  color: #ff6243;
  font-weight: bold;
}

.description {
  color: white;
  overflow: hidden;
  font-weight: bold;
  font-size: 13px;
  // flex: 1;
}

.text-primary {
  font-size: large;
}
.text-secondary {
  font-size: small;
}

.chip {
  border-radius: 7px;
  background-color: #2e2e2e;
  color: #e5e7e9;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    filter: brightness(1.2);
    z-index: 2;
  }

  &:not(:last-child) {
    margin-right: 4px;
    z-index: 2;
  }
}

.commonBorderStyles {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.borderText {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid black;
}
.borderImage {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}

.loader {
  border-radius: 50%;
  background: white;
  width: 24px;
  height: 24px;
  animation: pulsate 1s ease-in-out infinite;
  z-index: 2;
}


@keyframes animateClouds {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}


